.loginWrapper{
    height: calc(100% - 50px);
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.rightWrapper{
    width: 28%;
    float: right;
}
.headText{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
    display: flex;
}
.footerText{
    font-size: 13px;
    justify-content: space-between;
    display: flex;
}
.rightData{
    min-width: 208px;
    padding-left: 21px;
}
.subdomain{
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 54px;
    background: linear-gradient(180deg, rgba(235, 238, 240, 0.4) 0%, rgba(207, 207, 212, 0.4) 100%);
border-radius: 2px;
}
.remindme{
    color: #183247;
}
.forgot{
    color: #239CFF;
}
.subText{
    height: 32px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 32px;
color: rgba(24, 50, 71, 0.7);
display: block;
margin: 5px 0 30px 0;

}
.button{
margin: 40px 0 0 0;
    
    width: 140px;
    height: 38px;
    background: #3BC163;
    border-radius: 2px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.label{
    
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
/* identical to box height */
margin: 40px 0 0 0;
display: block;
color: #A1A6A9;
}